<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <logger name="org.springframework" level="ERROR"/>
    <logger name="com.springframework" level="INFO"/>

    <appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <!-- color good for console but it's not in file -->
            <pattern>%d{dd-MM-yyyy HH:mm:ss.SSS} %highlight(%-5level) [%blue(%t)] %green(%logger{45}) %line : %msg%n%throwable</pattern>        </encoder>
    </appender>

    <root>
        <!--
            2 config for logging level by logback
            1 . application.properties
            2 . <level value="<Level>,..." />
            don't forget specify more level if you want
        -->
        <level value="INFO,DEBUG" />
        <appender-ref ref="consoleAppender" />
    </root>
</configuration>